#form-and-summary-container{
    display: flex;
    text-align: center;
    justify-content: center;
}

#contact {
    padding: 20px;
    background-color: #E76F51;
    text-align: center;
}

#contact-form-container {
    display: flex;
    flex-wrap: wrap;
    min-width: 50vw;
    max-width: 50vw;
}

#contact-form {
    padding: 20px;
    background-color:firebrick;
    border-radius: 15%;
}

#summary {
    text-align: center;
}

#summary-container {
    max-width: 50vw;
    text-align: left;
}

#summary-list {
    padding: 20px;
    background-color:firebrick;
    border-radius: 25%;
}

#adress-container, #contact-container {
    display:flex;
}
