div.header {
    display: flex;
    padding: 30px;
    align-items: center;
    background-color: #264653;
    color: #E9C46A;
    font-family: 'Lustria', serif;
    font-size: 25px;
}

div.header>img {
    width: 70px;
}

div.header>h1 {
    margin: 0 auto 0 20px
}

div.header button {
    margin-right: 15px;
    width: 160px;
    height: 50px;
    cursor: pointer;
    font-family: 'Lustria', serif;
    font-size: 25px;
    border: none;
    background-color: #264653;
    color: #E9C46A;
    font-weight: bold;
}