.shadow {
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

div.header {
  display: flex;
  padding: 30px;
  align-items: center;
  background-color: #264653;
  color: #e9c46a;
  font-family: 'Lustria', serif;
  font-size: 25px;
}

div.header > img {
  width: 70px;
}

div.header > h1 {
  margin: 0 auto 0 20px;
}

div.header button {
  margin-right: 15px;
  width: 160px;
  height: 50px;
  cursor: pointer;
  font-family: 'Lustria', serif;
  font-size: 25px;
  border: none;
  background-color: #264653;
  color: #e9c46a;
  font-weight: bold;
}

div.About {
  padding: 0px;
  color: black;
  font-family: 'Lustria', serif;
  background-color: #264653;
  position: relative;
  z-index: 3;
  margin: -10px 0;
}

.About > .peopleSay {
  padding: 25px;
  background-color: #2a9d8f;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 0px 0px 25px 25px;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

.peopleSay > * {
  flex: 1;
}

.peopleSay > :first-child {
  text-align: left;
  padding-bottom: 15px;
  margin-left: 15px;
  width: 35%;
  border-radius: 35px;
}

.peopleSay > :nth-child(2) {
  text-align: left;
  margin-left: 7%;
  font-style: italic;
  font-family: 'Lato';
  font-weight: 300;
  font-size: xx-large;
}

.poland {
  padding: 25px;
  display: flex;
  justify-content: space-between;
}

.poland > * {
  flex: 1;
}

.poland > .description {
  text-align: center;
  padding: 25px;
  font-size: large;
  width: 50%;
  color: #2a9d8f;
}

.poland > .picture {
  text-align: center;
  font-size: large;
  background-color: #2a9d8f;
  border-radius: 25px 25px 25px 25px;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

.About > .foodhero {
  text-align: center;
  background-color: #2a9d8f;
  padding: 20px;
  color: black;
  margin: 5% 12% 0% 12%;
  font-size: xx-large;
  border-radius: 25px 25px 25px 25px;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}
.About > .freespace {
  height: 40px;
}

div.who-are-you {
  background-color: #e9c46a;
  padding: 40px;
  display: flex;
  justify-content: space-around;
  position: relative;
  z-index: 2;
  margin: -10px 0;
}

div.who-are-you > button {
  width: 170px;
  height: 80px;
  font-family: 'Lustria', serif;
  font-size: 25px;
  font-weight: bold;
  padding: 0;
  cursor: pointer;
  border: none;
  background-color: #e9c46a;
  color: #264653;
}

div.foodlist {
  background-color: #f4a261;
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  z-index: 1;
  margin: -10px 0;
}

h1.category {
  font-size: small;
  margin-bottom: 4vw;
}

div.foodCard {
  text-align: center;
  background-color: #f4a261;
  min-width: 15%;
  max-width: 20%;
  min-height: 18vw;
  max-height: 20vw;
  margin: 0 7.5% 1vw 7.5%;
  border: 1px solid rgba(238, 141, 61, 0.874);
  border-radius: 5%;
  overflow: hidden;
}

img.food {
  max-width: 12vw;
}

input.quantity {
  min-width: 70%;
}

button.addFoodButton {
  min-width: 35%;
}

div.addToDonating {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#form-and-summary-container {
  display: flex;
}

#contact {
  padding: 20px;
  background-color: #e76f51;
  text-align: center;
}

#contact-form-container {
  display: flex;
  flex-wrap: wrap;
  min-width: 50vw;
  max-width: 50vw;
}

#summary-container {
  max-width: 50vw;
}

#adress-container,
#contact-container {
  display: flex;
}

.donate {
  display: flex;
  background-color: #e9c46a;
}
.information {
  width: 50%;
  margin-left: 25%;
}
.payment {
  display: flex;
  flex-direction: column;
  margin-left: 25%;
  width: 15%;
}
.apple {
  background-color: black;
  color: white;
  border-radius: 25px 25px 25px 25px;
  border: none;
}

.other {
  background-color:#e76f51;
  color: black;
  border-radius: 25px 25px 25px 25px;
  border: none;
}
